
<div class='row'>
  <% current_user.own_pics.each do |post| %>
    <div class="card" style="width: 20rem;">
      <div class='post-image'>

      </div>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <% end %>
</div>
